html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.clean-block.clean-hero .text {
  max-width: 720px;
  color: #fff;
  z-index: 2;
  padding: 40px 15px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}

